.customize-control-checkbox label{
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 28px;
}

.onoffswitch-label-text{
	display: inline-block;
    width: calc(100% - 52px);
}
.onoffswitch_label{
	display: inline-block;
    vertical-align: top;
    margin-top: -1px;
}

.onoffswitch-over {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
}

.onoffswitch {
	position: relative;
	width: 40px;
	margin-right: 5px;
	display: inline-block;
	float: right;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}

.onoffswitch-left {
	position: relative;
	width: 40px;
	margin-right: 5px;
	display: inline-block;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none!important;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 16px;
	padding: 0;
	line-height: 16px;
	border: 2px solid #9E9E9E;
	border-radius: 6px;
	background-color: #9E9E9E;
	transition: background-color 0.2s ease-in;
}

.onoffswitch-label:before {
	content: "";
	display: block;
	width: 16px;
	margin: 0;
	background: #EBEBEB;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	border: 2px solid #9E9E9E;
	border-radius: 6px;
	transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: #78a2c5;
}

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: #6c86a1;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0;
}


.customize-control-radio {
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: system-ui, sans-serif;
    font-size: 12pt;
  }

.customize-control-radio input[type=radio] {
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    border: 2px solid #939393;
    padding: 2px;
    background: 
       radial-gradient(farthest-side,#7ba4ad 64%,#0000) 
       50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
}
.customize-control-radio input[type=radio]:checked {
    border-color: #3c7784;
    background-size: 100% 100%;
}
.customize-control-radio input[type=radio]:checked::before {
    content: none;
}

.customize-control-radio input[type=radio]:disabled {
    background: 
        linear-gradient(#939393 0 0) 
        50%/100% 20% no-repeat content-box;
    opacity: .5;
    cursor: not-allowed;
}
.customize-control-radio input[type=radio]:checked + span {
    color: #3c7784;
    font-weight: 600;
}

@media print {
.customize-control-radio input[type=radio] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
}
}

.customize-control-radio label {
display:inline-flex;
align-items:center;
gap:10px;
margin:5px 0;
cursor: pointer;
}
  